.generic__btn {
  width: 60%;
  margin: 0 20% 0 20%;
  color: white;
  background: linear-gradient(to bottom right, #bc95e9, #9356DC);
  border: transparent;
  border-radius: 50px;
  height: 50px;
  box-shadow: #fafafa 0px 2px 10px;
  opacity: 1;
  transition: opacity 150ms, box-shadow 250ms;
}
.generic__btn:hover {
  opacity: 0.8;
  box-shadow: #7a7a7a 0px 2px 10px;
}

.fonctionnement__btn {
  margin-bottom: 25px;
  width: 100%;
  background-color: #fafafa;
  border: transparent;
  box-shadow: #adadad 0px 2px 10px;
  border-radius: 20px;
  display: flex;
  height: 70px;
  align-items: center;
}
.fonctionnement__btn__nbr {
  position: relative;
  right: 15px;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.fonctionnement__btn__nbr p {
  position: relative;
  bottom: 10px;
  text-align: center;
}
.fonctionnement__btn i {
  color: #7a7a7a;
}
.fonctionnement__btn__content {
  margin-left: 20px;
}

.coeur {
  font-size: 25px;
  color: #7a7a7a;
  opacity: 1;
  font-size: 25px;
  transform: scale(1);
  font-weight: 500;
  cursor: pointer;
}
.coeur:hover {
  animation: grow 300ms;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.coeur:not(:hover) {
  animation: grow 300ms;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  background-color: white;
  border-radius: 20px;
  box-shadow: #fafafa 0px 2px 10px;
  margin: 15px 0px;
}
.card article {
  width: 70%;
  margin-left: 20px;
  padding: 0;
}

.restaurants__card .img--1 {
  background-image: url(./ressources/restaurants/img--01.jpg);
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
}
.restaurants__card .img--2 {
  background-image: url(./ressources/restaurants/img--02.jpg);
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
}
.restaurants__card .img--3 {
  background-image: url(./ressources/restaurants/img--03.jpg);
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
}
.restaurants__card .img--4 {
  background-image: url(./ressources/restaurants/img--04.jpg);
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
}
.restaurants__card__new {
  position: relative;
  left: 70%;
  top: 30px;
  background-color: #99E2D0;
  color: #217460;
  height: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  font-weight: bolder;
}

.menu__part__card {
  flex-wrap: nowrap;
}
.menu__part__card h2 {
  font-size: 1em;
  font-weight: bold;
  width: 100%;
}
.menu__part__card .menu_card_cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -15px;
}
.menu__part__card .menu_card_cont p, .menu__part__card .menu_card_cont h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
}
.menu__part__card .menu_card_cont p + p {
  overflow: visible;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: block;
  z-index: 3;
  transform: translateX(0);
}
.menu__part__card article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.menu__part__card .check {
  height: 100%;
  width: 75px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  transform: scaleX(0);
  transform-origin: right;
}
.menu__part__card .check i {
  color: white;
  font-size: 30px;
}
.menu__part__card:hover article {
  width: calc(100% - 100px);
  transition: all 500ms;
}
.menu__part__card:hover p + p {
  transition: all 500ms;
}
.menu__part__card:hover .check {
  transform: scaleX(1);
  transition: all 500ms;
}
.menu__part__card:hover i {
  transform: rotate(360deg);
  transition: all 500ms;
}

footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}
footer strong {
  font-family: shrikhand;
  font-weight: lighter;
}
footer .footer_cont {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  height: 2em;
}
footer i {
  color: white;
  font-size: 10px;
  margin-right: 10px;
}
footer a {
  color: white;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
header > img {
  width: 200px;
}
header > a > i {
  font-size: 20px;
  position: absolute;
  left: 50px;
}

.accueil {
  background-color: #f2f2f2;
}

.accueil--intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
}
.accueil--intro .accueil__loc {
  background-color: #EAEAEA;
  font-weight: bold;
  box-shadow: inset 0px 1px 5px #fafafa;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #070707;
}
.accueil--intro .accueil__loc i {
  position: relative;
  top: 18px;
}
.accueil--intro h1, .accueil--intro p {
  padding: 0 10% 0 10%;
}
.accueil--intro p {
  color: #7a7a7a;
}

.accueil--fonctionnement {
  padding: 30px 10%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.accueil--restaurants {
  padding: 10% 5% 10%;
  display: flex;
  flex-direction: column;
}
.accueil--restaurants .coeur {
  position: relative;
  top: 30px;
  left: 10%;
}

.spinner {
  background: linear-gradient(to bottom right, #a978e3, #9356DC);
  position: fixed;
  top: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 100%;
  animation: disparition 2s 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.spinner__circle {
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-top: 5px solid #99E2D0;
  border-bottom: 5px solid #99E2D0;
  border-radius: 100%;
  animation: rotate-circle 500ms;
  animation-iteration-count: infinite;
  z-index: -1;
}
.spinner__circle__title {
  width: 30%;
  font-family: shrikhand;
  font-size: 400%;
  text-align: center;
  color: #FF79DA;
  animation: apparition 1000ms;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

.img--1 {
  background-image: url(./ressources/restaurants/img--01.jpg);
  background-size: 100%;
  border-radius: 0px 0px 0 0;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.img--2 {
  background-image: url(./ressources/restaurants/img--02.jpg);
  background-size: 100%;
  border-radius: 0px 0px 0 0;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.img--3 {
  background-image: url(./ressources/restaurants/img--03.jpg);
  background-size: 100%;
  border-radius: 0px 0px 0 0;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.img--4 {
  background-image: url(./ressources/restaurants/img--04.jpg);
  background-size: 100%;
  border-radius: 0px 0px 0 0;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -40px;
  background-color: #f2f2f2;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__titre h1 {
  font-family: shrikhand;
  font-weight: lighter;
  margin-left: 15px;
}
.menu__titre .coeur {
  margin-right: 50px;
}
.menu__part {
  padding: 20px;
}
.menu__part h1 {
  font-size: 0.9em;
  font-weight: lighter;
}
.menu__part__cut {
  border-bottom: 5px solid #99E2D0;
  width: 40px;
}

.menu__container {
  padding-bottom: 50px;
}

.anim_1 {
  transform: translateY(200%);
  animation: apparition 1000ms 0s;
  animation-fill-mode: forwards;
}

.anim_2 {
  transform: translateY(200%);
  animation: apparition 1000ms 200ms;
  animation-fill-mode: forwards;
}

.anim_3 {
  transform: translateY(200%);
  animation: apparition 1000ms 400ms;
  animation-fill-mode: forwards;
}

.anim_4 {
  transform: translateY(200%);
  animation: apparition 1000ms 600ms;
  animation-fill-mode: forwards;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .accueil__loc i {
    position: relative;
    left: 60px;
  }

  .accueil--intro {
    align-items: center;
  }

  .accueil--fonctionnement {
    padding: 30px 5%;
  }

  .accueil--restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 5%;
    justify-content: space-between;
  }
  .accueil--restaurants h1 {
    width: 100%;
  }
  .accueil--restaurants .card {
    width: 45%;
  }

  .menu__titre {
    width: 75%;
    margin: 0 12%;
  }

  .menu__part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__part__cut {
    width: 75%;
  }
  .menu__part__card {
    width: 75%;
  }

  .menu__container {
    display: flex;
    justify-content: center;
  }

  .generic__btn {
    width: 300px;
    margin: 20px 0;
  }

  footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  footer p {
    width: 100%;
  }
  footer .footer_cont {
    width: 20%;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .accueil__loc i {
    position: relative;
    left: 100px;
  }

  .accueil--fonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10%;
    justify-content: space-between;
  }
  .accueil--fonctionnement h1 {
    width: 100%;
  }
  .accueil--fonctionnement .fonctionnement__btn {
    width: 30%;
  }

  .accueil--restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10%;
    justify-content: space-between;
  }
  .accueil--restaurants h1 {
    width: 100%;
  }
  .accueil--restaurants .card {
    width: 45%;
  }

  .menu__titre {
    width: 50%;
    margin: 0 25%;
  }
  .menu__part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu__part h1 {
    width: 100%;
    text-align: center;
  }
  .menu__part__cut {
    width: 50%;
    margin: 0 25%;
  }
  .menu__part__card {
    width: 30%;
  }

  .menu__container {
    display: flex;
    justify-content: center;
  }

  .accueil--intro {
    align-items: center;
  }

  .generic__btn {
    width: 300px;
    margin: 20px 0;
  }

  footer {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 10%;
  }
  footer p {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    top: -15px;
  }
  footer .footer_cont {
    width: 25%;
    flex-wrap: wrap;
    justify-content: left;
  }
  footer .footer_cont p {
    width: auto;
    top: 0;
  }
  footer .footer_cont a {
    position: relative;
    top: 10px;
  }
}
@keyframes grow {
  1% {
    opacity: 0.2;
    transform: scale(0.9);
    font-weight: 600;
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    font-weight: 600;
    transform: scale(1);
    opacity: 1;
    color: #9356DC;
  }
}
@keyframes rotate-circle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparition {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  45% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes disparition {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0);
  }
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot ");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff") format("woff"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../fonts/shrikhand-v6-latin//shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.eot ") format("embedded-opentype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
body, button {
  font: 1em Roboto;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: #7a7a7a;
}

h1 {
  font-size: 1.6em;
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
