.generic__btn {
  width: 60%;
  margin: 0 20% 0 20%;
  color: white;
  background: linear-gradient(to bottom right, #bc95e9, #9356DC);
  border: transparent;
  border-radius: 50px;
  height: 50px;
  box-shadow: #303030;
}

.fonctionnement__btn {
  margin-bottom: 25px;
  width: 100%;
  background-color: #f9f9f9;
  border: transparent;
  box-shadow: #b0b0b0 0px 2px 10px;
  border-radius: 20px;
  display: flex;
  height: 70px;
  align-items: center;
}
.fonctionnement__btn__nbr {
  position: relative;
  right: 15px;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.fonctionnement__btn__nbr p {
  position: relative;
  bottom: 10px;
  text-align: center;
}
.fonctionnement__btn i {
  color: #303030;
}
.fonctionnement__btn__content {
  margin-left: 20px;
}

.coeur {
  font-size: 25px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  background-color: white;
  border-radius: 20px;
  box-shadow: #b0b0b0 0px 2px 10px;
  margin: 15px 0px;
}
.card article {
  width: 70%;
  margin-left: 20px;
  padding: 0;
}

.restaurants__card .img--1 {
  background-image: url(./ressources/restaurants/img--01.jpg);
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
}
.restaurants__card .img--2 {
  background-image: url(./ressources/restaurants/img--02.jpg);
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
}
.restaurants__card .img--3 {
  background-image: url(./ressources/restaurants/img--03.jpg);
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
}
.restaurants__card .img--4 {
  background-image: url(./ressources/restaurants/img--04.jpg);
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center;
}
.restaurants__card__new {
  position: relative;
  left: 70%;
  top: 30px;
  background-color: #99E2D0;
  color: #217460;
  height: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  font-weight: bolder;
}

.menu__part__card h2 {
  font-size: 1em;
  font-weight: bold;
}
.menu__part__card article {
  width: 100%;
  margin-right: 30px;
}
.menu__part__card .menu_card_cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -15px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}
footer strong {
  font-family: shrikhand;
  font-weight: lighter;
}
footer .footer_cont {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  height: 2em;
}
footer i {
  color: white;
  font-size: 10px;
  margin-right: 10px;
}
footer a {
  color: white;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
header > img {
  width: 200px;
}
header > a > i {
  font-size: 20px;
  position: absolute;
  left: 50px;
}

.accueil {
  background-color: #f2f2f2;
}

.accueil--intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
}
.accueil--intro .accueil__loc {
  background-color: #EAEAEA;
  font-weight: bold;
  box-shadow: inset 0px 1px 5px #b0b0b0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #303030;
}
.accueil--intro .accueil__loc i {
  position: relative;
  top: 18px;
}
.accueil--intro h1, .accueil--intro p {
  padding: 0 10% 0 10%;
}
.accueil--intro p {
  color: #303030;
}

.accueil--fonctionnement {
  padding: 30px 10%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.accueil--restaurants {
  padding: 10% 5% 10%;
  display: flex;
  flex-direction: column;
}
.accueil--restaurants .coeur {
  position: relative;
  top: 30px;
  left: 10%;
}

.img--1 {
  background-image: url(./ressources/restaurants/img--01.jpg);
  background-size: 100%;
  border-radius: 0px 0px 0 0;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.img--2 {
  background-image: url(./ressources/restaurants/img--02.jpg);
  background-size: 100%;
  border-radius: 0px 0px 0 0;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.img--3 {
  background-image: url(./ressources/restaurants/img--03.jpg);
  background-size: 100%;
  border-radius: 0px 0px 0 0;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.img--4 {
  background-image: url(./ressources/restaurants/img--04.jpg);
  background-size: 100%;
  border-radius: 0px 0px 0 0;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -40px;
  background-color: #f2f2f2;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__titre h1 {
  font-family: shrikhand;
  font-weight: lighter;
  margin-left: 15px;
}
.menu__titre .coeur {
  margin-right: 50px;
}
.menu__part {
  padding: 20px;
}
.menu__part h1 {
  font-size: 0.9em;
  font-weight: lighter;
}
.menu__part__cut {
  border-bottom: 5px solid #99E2D0;
  width: 40px;
}

.menu__container {
  padding-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .accueil__loc i {
    position: relative;
    left: 60px;
  }

  .accueil--intro {
    align-items: center;
  }

  .accueil--fonctionnement {
    padding: 30px 5%;
  }

  .accueil--restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 5%;
    justify-content: space-between;
  }
  .accueil--restaurants h1 {
    width: 100%;
  }
  .accueil--restaurants .card {
    width: 45%;
  }

  .menu__titre {
    width: 75%;
    margin: 0 12%;
  }

  .menu__part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__part__cut {
    width: 75%;
  }
  .menu__part__card {
    width: 75%;
  }

  .menu__container {
    display: flex;
    justify-content: center;
  }

  .generic__btn {
    width: 300px;
    margin: 20px 0;
  }

  footer {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer strong {
    width: 100%;
    padding: 20px 20px;
  }
  footer p {
    position: relative;
    top: -15px;
  }
}
@media (min-width: 1024px) {
  .accueil__loc i {
    position: relative;
    left: 100px;
  }

  .accueil--fonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10%;
    justify-content: space-between;
  }
  .accueil--fonctionnement h1 {
    width: 100%;
  }
  .accueil--fonctionnement .fonctionnement__btn {
    width: 30%;
  }

  .accueil--restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10%;
    justify-content: space-between;
  }
  .accueil--restaurants h1 {
    width: 100%;
  }
  .accueil--restaurants .card {
    width: 45%;
  }

  .menu__titre {
    width: 50%;
    margin: 0 25%;
  }
  .menu__part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu__part h1 {
    width: 100%;
    text-align: center;
  }
  .menu__part__cut {
    width: 50%;
    margin: 0 25%;
  }
  .menu__part__card {
    width: 30%;
  }

  .menu__container {
    display: flex;
    justify-content: center;
  }

  .accueil--intro {
    align-items: center;
  }

  .generic__btn {
    width: 300px;
    margin: 20px 0;
  }

  footer {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 10%;
  }
  footer strong {
    width: 100%;
    margin-bottom: 20px;
  }
  footer p {
    position: relative;
    top: -15px;
  }
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot ");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff") format("woff"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../fonts/shrikhand-v6-latin//shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.eot ") format("embedded-opentype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
body, button {
  font: 1em Roboto;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: #303030;
}

h1 {
  font-size: 1.6em;
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
