//Pour lancer sass:
// sass --watch ./scss/main.scss:./css/style.css
@import "./Utils/variables";
@import "./Utils/fonctions";
@import "./Utils/mixins";
@import "./components/buttons";
@import "./components/cards";
@import "./layout/footer";
@import "./layout/header";
@import "./pages/index";
@import "./pages/menu";

@font-face 
{
    font-family:"Shrikhand" ;
    src: url("./fonts/Shrikhand-Regular.woff");
}

@font-face 
{
    font-family:"Roboto" ;
    src: url("./fonts/Roboto-Regular.woff");
}

body,button
{
    font: 1.2em Roboto;
    margin:0px;
}

i
{
    color:$icon-color;
}
h1
{
    font-size:2em
}

