//animation des coeurs
//@keyframes shake 
//{   
//   0%
//    {
//        font-weight: 500;        
//    }
//    1%
//    {
//        opacity: 0;
//    }
//    24%
//    {
//        transform:translateX(0);
//    }
//     @include GD(2,5px); //GD(nombre d'allers retours:3, amplitude:10px, couleur de fin)   
//    100%
//    {      
//        color:$prim-color;
//        font-weight: 600;
//        transform:translateX(0px);
//    }
//}

@keyframes shake {
    0% {
      font-weight: 500;
    }
    1% {
      opacity: 0;
    }
    24% {
      transform: translateX(0);
    }
    43.5% {
      transform: translateX(5px);
    }
    62% {
      transform: translateX(-5px);
    }
    80.5% {
      transform: translateX(5px);
    }
    99% {
      transform: translateX(-5px);
    }
    100% {
      color: #9356DC;
      font-weight: 600;
      transform: translateX(0px);
    }
  }



