//animation des coeurs
@keyframes grow {
    0% 
    {
      
    }
    1%
    {
      opacity: 0.2;
      transform:scale(0.9);
      font-weight: 600;
    }
    80% 
    {
      transform:scale(1.50);
    }
    100% {
      
      font-weight: 600;
      transform: scale(1);
      opacity: 1;
      color: $prim-color;
    }
  }

//rotation du cercle du loading spinner
@keyframes rotate-circle 
{
  0%
    {
      transform:rotate(0deg);
    }
  20%
  {
      transform:rotate(90deg);
  }
  50%
  {
      transform: rotate(180deg);
  }
  80%
  {
      transform: rotate(270deg);
  }
  100%
  {
      transform: rotate(360deg);
  }
}

//apparition titre loading spinner et menus
@keyframes apparition
{
  0%
  {
    transform: translateY(200%);
    opacity: 0;
  } 
  45%
  {
    transform: translateY(-5%);
  }
  100%
  {
    transform: translateY(0);
  }
}
//disparition du loading spinner
@keyframes disparition
 {
  0%
  {
    transform:scale(1);
    opacity: 1;
  }
  80%
  {
    transform: scale(0.7);
  }
  100%
  {
    transform: scale(0);
  }
}


