// couleurs principales site
$prim-color:#9356DC;
$sec-color:#FF79DA;
$ter-color:#99E2D0;
$loc-back-color:#EAEAEA;
$icon-color:#303030;

//color mentions nouveau
$bcg-new:#99E2D0;


//variables taille et placement des btn-generic
$gen_btn_width:60%;
$gen_btn_margin:((100%-$gen_btn_width)/2);
$btn-radius:50px;