.accueil
{
    @include sect-back-color($loc-back-color);
}    
.accueil--intro //refactorer cette partie en nestant les selecteurs BEM
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
    .accueil__loc
    {
        background-color: $loc-back-color;
        font-weight: bold;
        box-shadow: inset 0px 1px 5px lighten($icon-color,50%) ;
        display: flex;
        justify-content: center;
        width: 100%;
        @include darken($icon-color);
        i
        {  
            position:relative;top:18px;
        }    
    }
    h1,p
    {
        padding: 0 10% 0 10%;
    }    
    p
    {
        color: $icon-color;
    }
}
.accueil--fonctionnement //disposition sections fonctionnements
{
    padding: 30px 10%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.accueil--restaurants //disposition section restaurants
{
    padding: 10% 5% 10%;
    display: flex;
    flex-direction: column;
    .coeur //taille et effet dans buttons
    {
        position:relative;top: 30px; left: 10%;
        
    }
}

//loading spinner

.spinner
{
    background-color: $prim-color;
    position: fixed;top:-50%;left:-50%;
    height: 200%;
    width: 200%;
    display: flex;
    align-items: center; // les 2 éléments sont bien centrés quelque soit l'écran
    justify-content: space-around;
    border-radius:100% ;
    animation: disparition 2s 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ecubic-bezier(0,1,0,1);

    &__circle
    {
        position:absolute;
        width: 20rem;
        height: 20rem;
        border-top:5px solid $ter-color;
        border-bottom:5px solid $ter-color;
        border-radius: 100%;
        animation: rotate-circle 500ms; //voir keyframe: rotation du cercle
        animation-iteration-count: infinite;
        z-index: -1; //pour que le cercle soit derrière le titre

        &__title
        {
            width: 50%;
            font-family: shrikhand;
            font-size: 500%;
            text-align:center;
            color:$sec-color ;
            animation: apparition 1000ms;
            animation-timing-function: cubic-bezier(0,1,0,1);
        }
    }
}

