//breakpoints smartphones<768px<tablettes<1023px<destkop
//code CSS mobile par défaut

//design tablette
@media (min-width:768px) and (max-width:1023px)
{   
    //design page d'accueil
    .accueil__loc
    {
        i
        {
            position: relative; left: 60px;
        }
    }
    .accueil--intro
    {
        align-items: center;
    }
    .accueil--restaurants 
    {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 5%;
        justify-content: space-between;
        h1
        {   
            width: 100%;
        }
        .card
        {
            width: 45%;
        }
    }

    //design menus
    .menu__titre
    {
        width: 75%;
        margin:0 12%
    }
    .menu__part
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        &__cut
        {
            width: 75%;
        }
        &__card
        {
            width: 75%;
        }

    }
    //design generic button
    .menu__container
    {
        display:flex;
        justify-content:center;
    }
    .generic__btn
    {
        width: 300px;
        margin: 20px 0;
        
    }
}




//design desktop

@media (min-width:1024px) //augmenter les marges sur les côtés et réduire les marges haut et bas
{   
    //design page d'accueil
    .accueil__loc
    {
        i
        {
            position: relative; left: 100px;
        }
    }
    .accueil--fonctionnement
    {
        flex-direction: row;
        flex-wrap: wrap;
        h1
        {
            width: 100%;
        }
        .fonctionnement__btn
        {
            width: 30%;
            margin-right: 3%;
        }
    }
   
    .accueil--restaurants 
    {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 5%;
        h1
        {   
            width: 100%;
        }
        .card
        {
            width: 45%;
            margin-right: 5%;
        }
    }

    //design menus
    .menu__titre
    {
        width: 50%;
        margin:0 25%
    }
    .menu__part
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        &__cut
        {
            width: 50%;
        }
        &__card
        {
            width: 50%;
        }

    }
    //design generic button
    .menu__container
    {
        display:flex;
        justify-content:center;
    }
    .accueil--intro
    {
        align-items: center;
    }
    .generic__btn
    {
        width: 300px;
        margin: 20px 0;
        
    }


}
//menus faire 1/3 par section, augmenter les marges côté (peut être sur vody simplement)