//breakpoints smartphones < 768px < tablettes < 1023px < destkop
//code CSS mobile par défaut
//l'entièreté des effets responsives sont pris en charge dans ce fichier

//design tablette
@media (min-width:768px) and (max-width:1023px)
{   
    //design page d'accueil
    .accueil__loc
    {
        i
        {
            position: relative; left: 60px;
        }
    }
    .accueil--intro
    {
        align-items: center;
    }
    .accueil--fonctionnement
    {
        padding: 30px 5%;
    }
    .accueil--restaurants 
    {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 5%;
        justify-content: space-between;
        h1
        {   
            width: 100%;
        }
        .card
        {
            width: 45%;
        }
    }
    //design menus
    .menu__titre
    {
        width: 75%;
        margin:0 12%
    }
    .menu__part
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        &__cut
        {
            width: 75%;
        }
        &__card
        {
            width: 75%;
        }
    }
    //design generic button
    .menu__container
    {
        display:flex;
        justify-content:center;
    }
    .generic__btn
    {
        width: 300px;
        margin: 20px 0;       
    }
    footer
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        p
         {
             width: 100%;
         }
        .footer_cont
        {
            width: 20%;
            justify-content: center;
        }
    }
}
//design desktop
@media (min-width:1024px) //augmenter les marges sur les côtés et réduire les marges haut et bas
{   
    //design page d'accueil
    .accueil__loc
    {
        i
        {
            position: relative; left: 100px;
        }
    }
    .accueil--fonctionnement
    {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 10%;
        justify-content: space-between;
        h1
        {
            width: 100%;
        }
        .fonctionnement__btn
        {
            width: 30%;
        }
    }
    .accueil--restaurants 
    {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 10%;
        justify-content: space-between;
        h1
        {   
            width: 100%;
        }
        .card
        {
            width: 45%;
            
        }
    }
    //design menus
    .menu
    {
        &__titre
        {
            width: 50%;
            margin:0 25%

        }
        &__part
        {
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            h1
            {
                width:100%;
                text-align: center;
            }
            &__cut
            {
                width: 50%;
                margin: 0 25%;
            }
            &__card
            {
                width: 30%;
            }
        }
    }
    //design generic button
    .menu__container
    {
        display:flex;
        justify-content:center;
    }
    .accueil--intro
    {
        align-items: center;
    }
    .generic__btn
    {
        width: 300px;
        margin: 20px 0;
        
    }
    footer
    {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 50px 10%;
        p
        {
            width: 100%;
            margin-bottom: 20px;
            position: relative;top:-15px
        }
        .footer_cont
        {
            width: 25%;
            flex-wrap: wrap;
            justify-content: left;
            
            p
            {
                width: auto;
                top:0;
            }
            a
            {
                position: relative; top:10px;
            }
            
        }
    }
}
