header
{    
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    width: 100%;
    
    
   
    >img
    {
        width: 45%;
        position: relative;left:25%;
        
    }

    >a>i
    {
        position: relative;left:40px;bottom:7px;
    }
    
}