header
{    
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 100%;
    display: flex;
    justify-content: center;
   
    >img
    {
        width: 45%;
    }

    >a>i
    {
        font-size: 20px;
        position:absolute;left:3%;
    }
    
}