// boutons générics avec couleur principale
.generic__btn
{
    width: $gen_btn_width;
    margin: 0 $gen_btn_margin  0 $gen_btn_margin;
    color: white;
    @include btn--gradient ($prim-color);
    border: transparent;
    border-radius: $btn-radius;
    height: 50px;
    box-shadow: $icon-color ;
}

//boutons de la section fonctionnement
.fonctionnement__btn // /!\ ajouter l'effet :hover
{
    margin-bottom: 25px;
    background-color: lighten($icon-color,79%);
    border: transparent;
    //box-shadow: lighten($icon-color, $amount: 50%) 0px 2px 10px;
    @include shadow ($icon-color,50%);
    border-radius: 20px;
    display: flex;
    height: 70px;
    align-items: center;

    div
    {
        position: relative;right: 20px;
        color: white;
        background-color: $prim-color;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        p
        {
            position: relative;bottom:10px;
        }
    }
    i
    {
        color: $icon-color;
    }
    article
    {
        margin-left: 20px;
    }
}
