// boutons générics avec couleur principale
.generic__btn //voir mediaqueries pour la version responsive
{
    width: $gen_btn_width;
    margin: 0 $gen_btn_margin  0 $gen_btn_margin;
    color: white;
    @include btn--gradient ($prim-color);
    border: transparent;
    border-radius: $btn-radius;
    height: 50px;
    @include shadow ($icon-color) ;//(color,lighten amount)
    opacity:1;
    transition: opacity 150ms, box-shadow 250ms;
    &:hover
    {
        opacity: 0.8;
        @include shadow ($icon-color,0)
    }
}

//boutons de la section fonctionnement, ces boutons n'ont pas d'effets.
.fonctionnement__btn 
{
    margin-bottom: 25px;
    width: 100%;
    background-color: lighten($icon-color,50%);
    border: transparent;
    @include shadow ($icon-color,20%);//(color,lighten amount)
    border-radius: 20px;
    display: flex;
    height: 70px;
    align-items: center;

    &__nbr
    {
        position: relative;right: 15px;
        color: white;
        background-color: $prim-color;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        p
        {
            position: relative;bottom:10px;
            text-align: center;
        }
    }
    i
    {
        color: $icon-color;
    }
    &__content
    {
        margin-left: 20px;
    }
}
.coeur //positions dans index et menu
{
    font-size:25px;
    color: $icon-color;
    opacity: 1;
    font-size:25px;
    transform: scale(1);
    font-weight: 500;
    cursor: pointer;

    &:hover
    {
        animation: grow 300ms;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }  
    &:not(:hover)
    {
        animation: grow 1000ms;
        animation-play-state: paused;
        animation-fill-mode: forwards;
    }   
    
    
}