
.card //caractéristiques générales cartes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    background-color: white;
    border-radius: 20px;
    @include shadow;
    margin: 15px 0px;
    article
    {
        width: 70%;
        margin-left: 20px;
        padding: 0;
        
    }
}
    

.restaurants__card //spécificités cartes page d'accueil
{
    @include int_pic; //mixin d'intégration de automatique de l'image de la carte
    &__new //position des encarts "new"
    {
        position: relative; left:70%;top:30px;
        background-color: $ter-color;
        @include darken($ter-color);
        height: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
        padding-top: 10px;
        font-weight: bolder;
        
    
    }
}

.menu__part__card //spécifités cartes menus
{
    flex-wrap: nowrap;
    h2
    {
        font-size: 1em;
        font-weight:bold;
        width: 100%;
    }

    .menu_card_cont
    {
      display: flex;
      justify-content: space-between; 
      width: 100%; 
      margin-top: -15px;
      p, h2 
      {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.8em;
      }

      p+p
      {
          overflow: visible;
          margin-right: 30px;
          margin-bottom: 10px;
          margin-left: 10px;
          display: block;
          z-index: 3;
          transform: translateX(0);
      }
    }
    article
    {
        
        width:100%;
        display: flex;
        flex-wrap:wrap;
    }
    .check
        { 
            height: 100%;
            width: 75px;
            background-color: $ter-color;
            border-radius: 0 20px 20px 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;right: 0px;
            transform: scaleX(0);
            transform-origin:right;
            //transform:scaleX(1);
            i
            {
                color: white;
                font-size: 30px;

            }
        }
    &:hover
    {
        article
        {
            width: calc(100% - 100px);
            transition:all $dur_ch;            
        }
        p+p
        {
            transition:all $dur_ch;
        }
        .check
        {
            transform:scaleX(1);
            transition:all $dur_ch;
            
        }
        i
        {
            transform:rotate(360deg);
            transition:all $dur_ch;
        }
    }
    
}

