.accueil{
    .card
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        background-color: white;
        border-radius: 20px;
        @include shadow;
        margin: 15px 0px;
        article
        {
            width: 70%;
            margin-left: 20px;
            padding: 0;
            
        }
    }

    .restaurants__card
    {
        @include int_pic; //mixin d'intégration de automatique de l'image de la carte
        &__new
        {
            position: relative; left:70%;top:30px;
            background-color: $bcg-new;
            @include darken($bcg-new);
            height: 30px;
            width: 80px;
            text-align: center;
            text-decoration: none;
            padding-top: 10px;
            font-weight: bolder;
            
        
        }
    }
}
